    <footer class="footer">
      <div class="container flex-grid">

        <div class="footer-profile">
          <div class="footer-profile--thumb">
            <img src="/dist/images/david-ellermann-sm.jpg" />
          </div>
          <div class="footer-profile--info">
            <h4 class="title__h3">David P. Ellermann</h4>
            <p>Located in Chicago, David has been making deals across the world, leveraging his years of experience to connect global interests.</p>
            <p><a href="" class="modal-trigger" data-modal="profile-modal">View David's Profile</a></p>
          </div>
        </div>

        <div class="footer-copyright">
          <p class="social-links"><a href="https://www.facebook.com/Ellermann-Commercial-Brokerage-231450920212272/" target="_blank">Facebook</a> <span class="pipe">|</span> <a href="https://www.linkedin.com/in/david-p-ellermann-ccim-461a524" target="_blank">Linkedin</a> <span class="pipe">|</span> <a href="" class="modal-trigger" data-modal="contact-modal">Contact</a></p>
          <p>&copy;2017 Ellermann Commercial Brokerage.</p>
          <p><a href="http://bradsawicki.com" target="_blank">Site by: Brad Sawicki</a></p>
        </div>

      </div>
    </footer>

    <div id="contact-modal" class="contact-modal modal">
      <div class="modal-wrapper">
        <div class="modal-content">
          <a href="" class="contact-close modal-close" title="Close"></a>
          <h3 class="title__h2">Contact</h3>
          <p class="contact-address">420 W. Huron St.<br />
          Chicago, IL 60654</p>
          <p class="contact-phone">312.402.3283</p>
          <p class="contact-email"><a href="mailto:david@ellermannbrokerage.com">david@ellermannbrokerage.com</a></p>
        </div>
      </div>
    </div>

    <div id="profile-modal" class="profile-modal modal">
      <div class="modal-wrapper">
        <a href="" class="contact-close modal-close" title="Close"></a>
        <div class="modal-content">
          <div class="profile-thumb">
            <img src="/dist/images/david-ellermann-lg.jpg" alt="David Ellermann" />
          </div>
          <div class="profile-info">
            <h3 class="title__h3">David P. Ellermann, CCIM</h3>
            <p>Located in Chicago’s West Loop, and growing up in the Chicago suburbs, David has leveraged his relationships with the best in the business to build a foundation of successful transaction experience in sales volume in addition to leasing and consulting services.  His care of his clients and passion for the industry revolves on Client experience and an aggressive, proven process.  He is also a Certified Commercial Investment Member, and a leader among this global standard in commercial real estate. </p>
            <p class="profile-address">420 W. Huron St.<br />
            Chicago, IL 60654</p>
            <p class="profile-phone">312.402.3283</p>
            <p class="profile-email"><a href="mailto:david@ellermannbrokerage.com">david@ellermannbrokerage.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
