
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-close {
  @include horizontal-center;
  top: 20px;
  display: block;
  width: 40px;
  height: 40px;

  @include bp-min-width($small) {
    top: 40px;
  }
}

.modal-close:before,
.modal-close:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 6px;
  display: block;
  width: 30px;
  height: 1px;
  background: $blue;
}

.modal-close:before {
  transform: rotate(-45deg);
}

.modal-close:after {
  transform: rotate(45deg);
}

.modal .title__h2 {
  margin-bottom: $base*2;
}

.modal .title__h3 {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    @include font-size(30px);
  }
}


// Contact Modal

.contact-modal {
  text-align: center;
}

p:not(:last-child) {
  margin-bottom: $base;
}

.contact-email,
.contact-phone,
.contact-address {
  line-height: 1.2;

  @include bp-min-width($medium) {
    @include font-size(42px);
    font-family: $serif-display;
    font-weight: $weight-light;
  }

  @include bp-max-width($medium) {
    @include font-size(21px);
  }

}


// Profile Modal

.profile-modal .modal-wrapper {
  @include bp-max-width($small) {
    padding-top: 80px;
  }
}

.profile-modal .modal-content {
  padding-left: 20px;
  padding-right: 20px;

  @include bp-max-width($small) {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: $base*2;
  }

  @include bp-min-width($small) {
    display: flex;
    max-width: 900px;
  }
}

.profile-modal p:first-of-type {
  @include font-size(17px);
}

.profile-modal p:not(:last-child) {
  margin-bottom: 12px;

  @include bp-min-width($medium) {
    margin-bottom: $base;
  }
}
